beautifulsoup4==4.6.0
Flask==1.0.2
Flask-Babel==0.12.2
Flask-BasicAuth==0.2.0
Flask-Bootstrap==3.3.7.1
Flask-Cache==0.13.1
Flask-Caching==1.4.0
Flask-Cors==3.0.8
Flask-GoogleMaps==0.2.6
Flask-MySQL==1.4.0
flask-ngrok==0.0.25
Flask-ReCaptcha==0.4.2
Flask-Simple-GeoIP==0.1.1
Flask-Table==0.5.0
Flask-WTF==0.14.2
Frozen-Flask==0.15
gunicorn
